
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}
@model WebSite.Models.SignUpModel


<div class="container">
    <h2>Sign up</h2>
    <br/>

	@using (Html.BeginForm())
	{
		@Html.ValidationSummary(true)

		<div>
			<fieldset>
				<div class="editor-label">
					@Html.LabelFor(m => m.Email)
				</div>
				<div class="editor-field">
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Email)
				</div>
        <br/>

				<div class="editor-label">
					@Html.LabelFor(m => m.Password)
				</div>
				<div class="editor-field">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Password)
				</div>
        <br />

				<div class="editor-label">
					@Html.LabelFor(m => m.ConfirmPassword)
				</div>
				<div class="editor-field">
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.ConfirmPassword)
				</div>
        <br />

				<input class="btn btn-success" type="submit" value="Sign Up" />
				@Html.ActionLink("Sign in", "SignIn", new { }, new { @class = "btn btn-primary" })
			</fieldset>
		</div>
	}

</div>