
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}
@model WebSite.Models.SignUpModel

@using System.Configuration;


<div class="account-form">
  <div class="welcome-tew">
    <div class="welcome-tew-link">
      @Html.ActionLink("Вход", "SignIn", new { }, new { @class = "account-form-link" })
    </div>
    <div class="welcome-tew-title">
      TEW!
      <span class="welcome-tew-title-version">
        @ConfigurationManager.AppSettings["Version"]
      </span>
    </div>
  </div>

  @using (Html.BeginForm())
  {
    @Html.ValidationSummary(true)

    <div>
      <fieldset class="account-form-fieldset">
        <div class="editor-label">
          @Html.LabelFor(m => m.Email)
        </div>
        <div class="editor-field">
          @Html.ValidationMessageFor(m => m.Email)
          @Html.TextBoxFor(m => m.Email, new { @class = "account-form-input" })
        </div>

        <div class="editor-label">
          @Html.LabelFor(m => m.Password)
        </div>
        <div class="editor-field">
          @Html.ValidationMessageFor(m => m.Password)
          @Html.PasswordFor(m => m.Password, new { @class = "account-form-input" })
        </div>

        <div class="editor-label">
          @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="editor-field">
          @Html.ValidationMessageFor(m => m.ConfirmPassword)
          @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "account-form-input" })
        </div>

        <div class="account-form-button-section">
          <input class="account-form-button" type="submit" value="Регистрация" />
        </div>
      </fieldset>
    </div>
  }
</div>