<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <meta charset="utf-8" />
        <title>Tew</title>

        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/awesome")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryValidation")

        @RenderSection("scripts", required: false)
    </head>
    <body>
         @RenderBody()
    </body>
</html>
